<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout/fragments/header :: header}"></head>
  <div th:replace="~{layout/fragments/nav :: nav}"></div>
<body>
  <table>
    <thead>
      <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
      </tr>
    </thead>
        <tbody>
        <button onclick="location.href='boards/write'">글쓰기</button>
        <th:block th:if="${!#lists.isEmpty(boards)}">

          <tr th:each="board : ${boards}">
            <a th:href="@{/boards/detail(boardId = ${board.boardId})}">
              <td th:text="${board.boardId}"></td>
              <td th:text="${board.title}"></td>
              <td th:text="${board.id}"></td>
              <td th:text="${board.createdAt}"></td>
            </a>
          </tr>

    </th:block>
    <th:block th:unless="${!#lists.isEmpty(boards)}">
      <td th:colspan="4">
        <span>표시할 게시글이 없습니다.</span>
      </td>
    </th:block>
        </tbody>
  </table>
</body>
</html>