<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="nav" class="header">
        <div class="container">
            <div class="header-content">
                <h1>Practice</h1>
                <nav class="nav">
                    <a th:href="@{/}" class="nav-link">홈</a>
                    <a th:href="@{/boards}" class="nav-link">게시판</a>
                    <th:block th:unless="${member != null}">
                        <a th:href="@{/members/login}" class="nav-link">로그인</a>
                        <a th:href="@{/members/register}" class="nav-link">회원가입</a>
                    </th:block>
                    <th:block th:if="${member != null}">
                        <a th:href="@{/members/detail}" class="nav-link">내 정보</a>
                        <a th:href="@{/members/logout}" class="nav-link">로그아웃</a>
                    </th:block>
                </nav>
            </div>
        </div>
    </header>
</body>
</html> 